# Entornos virtuales
venv/
env/
ENV/
.venv/
.env

# Node
node_modules/

# Carpeta media de Django (excepto archivos por defecto)
servidor/media/*
!servidor/media/**/
!servidor/media/espacios/
!servidor/media/espacios/default.jpg
!servidor/media/plantas/
!servidor/media/plantas/default.jpg
!servidor/media/especies/
!servidor/media/especies/default.jpg
!servidor/media/fotos_perfil_usuarios/
!servidor/media/fotos_perfil_usuarios/default.jpg

# IDEs
*.iml
.idea/
.vscode/

# Pip logs
pip-log.txt

# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Bases de datos locales
*.sqlite3
*.db
*.bak
