# Carpeta de entorno virtual (cubre venv, env o cualquier nombre común)
venv/
env/
ENV/
.venv/

/media/espacios/*
!media/espacios/default.jpg


/media/plantas/*
!media/plantas/default.jpg

/media/especies/*
!media/especies/default.jpg

# Archivos de configuración de Workbench, IDEs y demás
*.iml
.idea/
.vscode/

# Archivos generados por pip
pip-log.txt

# Archivos innecesarios del sistema
__pycache__/
*.py[cod]
*.pyc
*.pyo

# SQLite u otros archivos de bases de datos
*.sqlite3
*.db
*.bak
